results.csv
__pycache__/AutotraderXHRTest.cpython-310.pyc
*.csv
*.json
/.venv
*.pyc
__pycache__/GetUserSelection.cpython-310.pyc
autoscraper.log
/.vs
/autoscraper_rust/target/debug
*.jpg
*.svg
rendered_page.html
listing_debug.html
/debug_html
